*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url(img/img.avif) no-repeat center center fixed;
    background-size: cover;

}


.subcontainer{
    background: #fff;
    border: 5px dashed#000;
    text-align:center;
    padding: 5%;
    transition: padding .5s ease-out;
}






.subcontainer h1 {
    font-size: 3rem;
    margin: 2rem;
}

.subcontainer h1 a{
    text-decoration: none;
    color: #000;
}

hr{
    border: 1px solid #000;
}

.subcontainer ul {
    list-style-type: none;
}



.subcontainer ul li {
    margin-top: 1rem;

}

.subcontainer ul a {
    text-decoration: none;
    color: #000;
    font-size: 2em;


}


.github img{
    margin-top: 50px;
    width: 200px;
    border: 3px dashed #32f;
    border-radius: 50px;
}




@media screen and (min-width: 1200px) {

    .subcontainer ul a:hover{
        text-decoration: none;
        background: #000;
        color: #fff;
        box-shadow: 0px 10px 5px #ddd,0px 8px 3px #ddd,0px 5px 2px #ddd,0px 3px 1px #ddd;
        transition: all .3s ease-in-out;
    }

    .subcontainer{
        padding: 3%;
        display: grid;
        grid-template-areas: 'head head head'
                             'github github github';
        align-items: center;
        text-align: justify;
    }


    .subcontainer hr{
        height: 25rem;
        margin-right: 3rem;
    }



    .subcontainer:hover{
        padding: 4%;
        transition: padding .5s ease-out;
    }

    .github {
        grid-area: github;
        margin: auto;
    }

    .github img{
        transition: all ease-out .3s;
    }

    .github img:hover{
        background: #fff;
        filter: invert(100%);
        border: 3px solid #fff;
        transition: all ease-in .3s;


    }




}
